{% load static %}
<footer class="main-footer ">
    <!-- Pattern Layer -->
    <div class="pattern-layer "></div>
    <div class="pattern-layer-two "></div>
    <div class="auto-container ">
        <!-- Footer Bottom -->
        <div class="footer-bottom text-center ">
            <div class="copyright ">Portal</div>
        </div>
    </div>
</footer>
</div>
<div class="sidenav-list ">
    <ul class="navbar ">
        <li><a href="/"><i class="icon flaticon-home "></i> <span><i class="flaticon-home "></i> Home Page</span></a></li>
        <li><a href="/all_university"><i class="icon flaticon-book "></i> <span><i class="flaticon-book "></i>List university</span></a></li>
        <li><a href="/my_favorite"><span class="icon flaticon-test "></span>Favorite</a></li>
        <li><a href="/dangxuat"><i class="icon flaticon-new-window "></i> <span><i class="flaticon-new-window "></i>Logout</span></a></li>
    </ul>
</div>

<section class="hidden-bar left-align ">
    <div class="color-layer "></div>
    <div class="hidden-bar-closer ">
        <span class="flaticon-multiply "></span>
    </div>
    <!-- Hidden Bar Wrapper -->
    <!-- Show hide left bảr -->
    <div class="hidden-bar-wrapper ">
        <div class="heading ">Infomation</div>
        <ul class="pages-list ">
            <li><a href="/all_university"><span class="icon flaticon-book "></span>List universities</a></li>
        </ul>
        <div class="heading ">Persional</div>
        <ul class="pages-list ">
            <li><a href="/my_favorite"><span class="icon flaticon-test "></span>Favorite</a></li>
        </ul>
    </div>
    <div class="copyright-text ">Portal</div>
</section>